body {
  margin: 0;
}

header {
  color: white;
  font-family: Oswald;
  background: url(http://i.imgur.com/SmyX7He.jpg) no-repeat center;
  padding-top: 15px;
  padding-bottom: 100px;
  position: relative;
  background-size: cover;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 45px;
  margin: auto;
}

.navbar  .brand, .navbar  nav {
  display: flex;
  flex-direction: row;
}

.navbar  .brand img {
  margin-right: 10px;
}

.navbar  nav > div {
  padding: 0 10px;
}

.navbar a {
  color: #0B3454;
}

h1 {
  text-align: center;
  font-family: Oswald;
  font-weight: 300;
  font-size: 80px;
  color: #FEFEFE;
  margin: 100px 0 0 0;
  line-height: 1em;
}

h2.subheading {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #0B3454;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: white;
  color: white;
  flex-grow: 10;
}

.sidebar {
  flex-grow: 1;
  background-color: white;
}

.midbottom {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 35px;
}

.bottompics {
  display: flex;
  background-color: white;
  flex-direction: row;
  margin: auto;
  padding: 0;
}

footer {
  display: flex;
  background-color: #0B3455;
  margin: 0;
}

#snowguy {
  height: 100px;
  width: 100px;
  margin-left: 120px;
  margin-top: 75px;
}

}
#annemarie {
  height: 400px;
  width: 300px;
  margin-top: 300px;
  margin-left: -190px;
}
